<header class="clearfix">
  <h2 class="pull-left">Edit Schedule for Job '<%= @job.name %>'</h2>
</header>
<hr/>

<form class="form-horizontal" role="form" method="POST">
  <%= erb :'partials/schedules/panels' %>

  <div class="form-group">
    <hr/>
    <label class="col-sm-2 control-label">Schedule</label>
    <div class="col-sm-10">
      <input name="job_id" value="<%= @job.id %>" type="hidden"/>

      <div id="hidden-schedule-inputs">
        <input name="minute" value="<%= @schedule.minute %>" type="hidden"/>
        <input name="hour" value="<%= @schedule.hour %>" type="hidden"/>
        <input name="day_of_the_month" value="<%= @schedule.day_of_the_month %>" type="hidden"/>
        <input name="month" value="<%= @schedule.month %>" type="hidden"/>
        <input name="day_of_the_week" value="<%= @schedule.day_of_the_week %>" type="hidden"/>
        <input name="special" value="<%= @schedule.special %>" type="hidden"/>
      </div>

      <div id="schedule-input">
        <input value="<%= @schedule.formatted %>" disabled type="text" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-success" value="Save"/>
      <a href="<%= "#{route_prefix}/job/#{@job.id}" %>" class="btn btn-danger">Cancel</a>
    </div>
  </div>
</form>
