<header class="clearfix">
  <h2 class="pull-left">View Schedule #<%= @schedule.id %> for Job '<%= @schedule.job.name %>'</h2>
  <a href="<%= "#{Minicron::Transport::Server.get_prefix}/job/#{@schedule.job.id}/schedule/#{@schedule.id}/delete" %>"class="pull-right btn btn-danger btn-sm">Delete</a>
  <a href="<%= "#{Minicron::Transport::Server.get_prefix}/job/#{@schedule.job.id}/schedule/#{@schedule.id}/edit" %>"class="pull-right btn btn-warning btn-sm">Edit</a>
</header>
<hr/>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Schedule</label>
    <div class="col-sm-10">
      <div class="form-control form-control-view"><%= @schedule.formatted %></div>
    </div>
  </div>
</form>

