<section>
  <header>
    <h2>Alert #<%= @alert.id %></h2>
  </header>
  <hr/>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Kind</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @alert.kind %></div>
      </div>
    </div>
    <% if @alert.kind == 'fail' %>
      <div class="form-group">
        <label class="col-sm-2 control-label">Exit Status</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view"><%= @alert.execution.exit_status %></div>
        </div>
      </div>
    <% elsif @alert.kind == 'miss' %>
      <div class="form-group">
        <label class="col-sm-2 control-label">Expected At</label>
        <div class="col-sm-10">
          <div class="form-control form-control-view"><%= @alert.expected_at %></div>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <label class="col-sm-2 control-label">Medium</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @alert.medium %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Sent</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= Minicron.time(@alert.sent_at) %></div>
      </div>
    </div>
  </form>
</section>

<section>
  <header class="clearfix">
    <h2 class="pull-left">Job</h2>
    <a href="<%= "#{route_prefix}/job/#{@alert.job.id}/edit" %>" class="pull-right btn btn-warning btn-sm">Edit</a>
    <a href="<%= "#{route_prefix}/job/#{@alert.job.id}" %>" class="pull-right btn btn-info btn-sm">View</a>
  </header>
  <hr/>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @alert.job.name %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Command</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @alert.job.command %></div>
      </div>
    </div>
  </form>
</section>
