<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="main-container">
    <div class="navbar-header">
      <a href="<%= Minicron.config['server']['path'] %>" class="navbar-brand">minicron</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="<%= Minicron.config['server']['path'] %>">Executions</a></li>
      <li><a href="<%= "#{Minicron::Transport::Server.get_prefix}/jobs" %>">Jobs</a></li>
      <li><a href="<%= "#{Minicron::Transport::Server.get_prefix}/hosts" %>">Hosts</a></li>
      <li><a href="<%= "#{Minicron::Transport::Server.get_prefix}/alerts" %>">Alerts</a></li>
    </ul>
  </div>
</div>
