<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= Minicron.config['server']['path'] %>" class="navbar-brand">minicron</a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><a class="<%= 'active' if nav_page == :execution %>" href="<%= Minicron.config['server']['path'] %>">Executions</a></li>
      <li><a class="<%= 'active' if nav_page == :job %>" href="<%= "#{route_prefix}/jobs" %>">Jobs</a></li>
      <li><a class="<%= 'active' if nav_page == :host %>" href="<%= "#{route_prefix}/hosts" %>">Hosts</a></li>
      <li><a class="<%= 'active' if nav_page == :alert %>" href="<%= "#{route_prefix}/alerts" %>">Alerts</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <% if signed_in? %>
          <a href="#" class="dropdown-toggle nav-user" data-toggle="dropdown">
            <!-- <img width="40" height="40" src="<%= current_user.avatar %>?s=40"/> -->
            <span><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <form action="<%= "#{route_prefix}/auth/sign-out" %>" method="POST">
                <input type="submit" value="Sign Out"/>
              </form>
            </li>
          </ul>
        <% else %>
          <a href="<%= "#{route_prefix}/auth/sign-in" %>" title="Sign In">Sign In</a>
        <% end %>
      </li>
    </ul>
  </div>
</div>
