<header>
  <h2>Edit Host '<%= @host.name %>'</h2>
</header>
<hr/>

<% if @error %>
  <div class="alert alert-danger" role="alert"><%= @error %></div>
<% end %>

<form class="form-horizontal" role="form" method="POST">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input name="name" type="text" value="<%= @host[:name] %>"class="form-control" placeholder="A nickname for the host e.g 'fred' - OPTIONAL"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">FQDN</label>
    <div class="col-sm-10">
      <input name="fqdn" type="text" value="<%= @host[:fqdn] %>"class="form-control" placeholder="The machine fully qualified domain name e.g 'server1.host.com'"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">User</label>
    <div class="col-sm-10">
      <input name="user" type="text" value="<%= @host[:user] %>"class="form-control" placeholder="The user to connect to the host as"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Host</label>
    <div class="col-sm-10">
      <input name="host" type="text" value="<%= @host[:host] %>"class="form-control" placeholder="The machine host, this could be an IP address or FQDN"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Port</label>
    <div class="col-sm-10">
      <input name="port" type="text" value="<%= @host[:port] %>"class="form-control" placeholder="The port to connect on e.g 22"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-success" value="Save"/>
      <a href="<%= "#{Minicron::Transport::Server.get_prefix}/host/#{@host.id}" %>" class="btn btn-danger">Cancel</a>
    </div>
  </div>
</form>
