<header class="clearfix">
  <h2 class="pull-left">Test Host '<%= @host.name %>'</h2>
  <a href="<%= "#{route_prefix}/host/#{@host.id}/delete" %>" class="pull-right btn btn-danger btn-sm">Delete</a>
  <a href="<%= "#{route_prefix}/host/#{@host.id}/edit" %>" class="pull-right btn btn-warning btn-sm">Edit</a>
  <a href="<%= "#{route_prefix}/host/#{@host.id}/test" %>" class="pull-right btn btn-info btn-sm">Test Connection</a>
  <a href="<%= "#{route_prefix}/host/#{@host.id}" %>" class="pull-right btn btn-info btn-sm">View</a>
</header>
<hr/>

<% if @error %>
  <div class="alert alert-danger" role="alert"><%= @error %></div>
<% end %>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Connection</label>
    <div class="col-sm-10">
      <div style="margin-top: 10px">
        <% if @test[:connect] %>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% else %>
          <span class="label label-danger">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">/etc write</label>
    <div class="col-sm-10">
      <div style="margin-top: 10px">
        <% if @test[:etc][:write] %>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% else %>
          <span class="label label-danger">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">/etc execute</label>
    <div class="col-sm-10">
      <div style="margin-top: 10px">
        <% if @test[:etc][:execute] %>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% else %>
          <span class="label label-danger">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">crontab read</label>
    <div class="col-sm-10">
      <div style="margin-top: 10px">
        <% if @test[:crontab][:read] %>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% else %>
          <span class="label label-danger">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">crontab write</label>
    <div class="col-sm-10">
      <div style="margin-top: 10px">
        <% if @test[:crontab][:write] %>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% else %>
          <span class="label label-danger">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</form>
