<section>
  <header class="clearfix">
    <h2 class="pull-left">Execution #<%= @execution.id %></h2>
    <a href="<%= "#{Minicron::Transport::Server.get_prefix}/execution/#{@execution.id}/delete" %>" class="pull-right btn btn-danger btn-sm">Delete</a>
  </header>
  <hr/>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Created At</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.created_at %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Started At</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.started_at %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Finished At</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.finished_at %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Exit Status</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.exit_status %></div>
      </div>
    </div>
  </form>
</section>

<section>
  <header class="clearfix">
    <h2 class="pull-left">Job</h2>
    <a href="<%= "#{Minicron::Transport::Server.get_prefix}/job/#{@execution.job.id}/edit" %>" class="pull-right btn btn-warning btn-sm">Edit</a>
    <a href="<%= "#{Minicron::Transport::Server.get_prefix}/job/#{@execution.job.id}" %>" class="pull-right btn btn-info btn-sm">View</a>
  </header>
  <hr/>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.job.name %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Command</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.job.command %></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Host</label>
      <div class="col-sm-10">
        <div class="form-control form-control-view"><%= @execution.job.host.name %></div>
      </div>
    </div>
  </form>
</section>

<section>
  <header>
    <h2>Output</h2>
  </header>
  <hr/>

  <div class="output tomorrow-night-eighties-ansi-theme"><% @execution.job_execution_outputs.each do |output| %><%= output.output %><% end %></div>
</section>
